.my_header1{
    width:100%;
    background:#151313;
}
.my_header2{
    width:100%;
    background:#0094FE;
}
.my_header3{
    background-color:#343A40; 
}
.my_top_top {
    width: 100%;
    background-color: #151313;
    margin-left: 15px ;
}
.my_color{
    color: #FFFFFF;
}
.my_logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.my_header_middle{
    background: url(../img/header/header-middle.png) no-repeat;
    height: 130px;
    width:100%;    
    position: relative;
}
.my_text_btn{
    text-align: left !important;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.my_button{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.my_header_middle:before{
    content:'';
    display:table;
}
#search{
    position: absolute;
    left:70%;
    top: 40px;
}













